html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: serif;
}

/* Scrollbar modification*/
body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

/*Navbar setttings*/
nav{
  display: none;
  margin-top: 0em;
  height: 7vh;
  background: #5b78c7;
}

/*Properties of the Menu*/
.nav-links{
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 1s ease-out;
}



/*Page Customization*/
.container{
  height: 100%;
  background: #42455a;
  margin-top: 0em;
}

.menu{
  background-color: ;
  position: relative;
}

.landing{
  height: 90vh;
  display: flex;
  justify-content:flex-start;
}

/*
.logo{
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  list-style: none;
}
*/

.choices{
  float: left;
  width: 150px;
  margin-left: 0px;
}

.choices ul li:hover{
  background: #555;
  cursor: pointer;
}

.choices li{
  list-style: none;
  background: #eee;
  border-top: 1px solid #ccc;
  padding: 10px 20px 10px 10px;
  margin-right: -30px;

}

.School{
  top: 150px;
  margin-left: -2.5em;
  position: relative;
  font-family: cursive;
}

.Tutor{
  top: 200px;
  margin-left: -2.5em;
  position: relative;
  font-family: cursive;
}


/*Customization for larger screens*/
@media screen and (max-width: 760px){
  .School{
    display: none;
  }
  .Tutor{
    display: none;
  }
  nav{
    display: flex;
  }
  .hamburger{
    display: flex;
  }

  /*Customizing it for hamburger*/
  .nav-links{
    position: fixed;
    background: #5b78c7;
    margin-top: 0em;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open{
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }

  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav{
    position: relative;
  }

  .hamburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .landing{
    flex-direction: column;
  }

  .nav-links li{
    opacity: 1;
  }

  .nav-links li a{
    font-size: 25px;
  }
/*
  .nav-links li: nth-child(1){
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li: nth-child(2){
    transition: all 0.5s ease 0.4s;
  }

  li.fade{
    opacity: 1;
  }
  */
}
